
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

/config/*
!/config/validator

/public/
/var/
/vendor/
/src/Migrations
/src/Kernel.php
/tests/bootstrap.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
