<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Articles</a></li>
                <li><a href="/rule/create">Créer règle</a></li>
                <li><a href="/rule/list">Liste des règles</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>
