{% extends 'base.html.twig' %}

{% block title %}Liste des règles{% endblock %}

{% block body %}

    <h1>Liste des règles</h1>

    <main>
        <table>
            <tr>
                <th>Expression</th>
                <th>Pourcentage</th>
            </tr>
            {% for rule in rules %}
                <tr>
                    <td>{{ rule.getRuleExpression }}</td>
                    <td>{{ rule.getDiscountPercent }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}

